include ../checkbox/checkbox
include ../atom/buttons/buttons
include ../atom/blocInfo/blocInfo
include ../atom/badge/badge

mixin push(options)
    - var { titleBonus, subTitleBonus, success=false, textTitleSuccess, textTitle, description } = options;
    .c-push
        .c-push__container
            if !success
                +badge('Bon plan', 'purple')
            .c-push__bonus
                h3.c-push__title= titleBonus
                span.c-push__subTitle= subTitleBonus
            .c-push__content
                if success
                    span.c-push__infoContainer--success
                        svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 23 24" fill="none")
                            path(d="M9.41675 13.6519L14.9302 8.13843L16.4033 9.61157L9.41675 16.5981L5.55518 12.7366L7.02832 11.2634L9.41675 13.6519Z" fill="#0C762E")
                            path(fill-rule="evenodd" clip-rule="evenodd" d="M0.041748 12C0.041748 18.3283 5.17182 23.4583 11.5001 23.4583C17.8283 23.4583 22.9584 18.3283 22.9584 12C22.9584 5.67174 17.8283 0.541667 11.5001 0.541667C5.17182 0.541667 0.041748 5.67174 0.041748 12ZM20.8751 12C20.8751 17.1777 16.6778 21.375 11.5001 21.375C6.32241 21.375 2.12508 17.1777 2.12508 12C2.12508 6.82233 6.32241 2.625 11.5001 2.625C16.6778 2.625 20.8751 6.82233 20.8751 12Z" fill="#0C762E")
                        span.c-push__title--success= textTitleSuccess
                else
                    span.c-push__title= textTitle
                p.c-push__desc= description
                    if success
                        +button('ghost', "Conditions générales", '#')
                if !success
                    +checkbox("trois", "J'accepte les ", " de l'offre Mon Bonus ")
                    .c-push__btnWrapper
                        +button('primary', 'Je participe')
                        +button('ghost', 'Comment ça marche ?', '#')
                else
                    +blocInfo('pour être notifié du prochain jour de challenge.')
